<div
  class="w-screen h-screen absolute bg-white/80 backdrop-blur transition-colors duration-500 dark:bg-gray-900/80 z-30 left-0 top-0"
  (click)="closeDialog()"
></div>
<div class="z-30 absolute w-screen center-content translate-y-1/3 left-0 top-0">
  <div
    class="mx-auto w-screen max-w-xl overflow-hidden rounded-xl bg-white ring-1 ring-black ring-opacity-5 drop-shadow-2xl transition duration-200 dark:bg-gray-900 dark:ring-white dark:ring-opacity-5"
    style="transform: scale(0.99); pointer-events: auto"
  >
    <div>
      <div
        class="relative border-b border-gray-500 border-opacity-10 dark:border-opacity-20"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          class="pointer-events-none absolute top-3.5 left-4 h-5 w-5 text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 dark:text-opacity-100"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <input
          class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-gray-900 placeholder-gray-500 outline-none transition duration-200 focus:ring-0 dark:text-white sm:text-sm"
          autocomplete="off"
          role="combobox"
          spellcheck="false"
          aria-expanded="true"
          aria-controls="kbar-listbox"
          placeholder="Buscar..."
          value=""
          (keyup)="search($event)"
        />
      </div>
      <div class="p-2">
        <div style="max-height: 400px; position: relative; overflow: auto">
          <!--                    <div role="listbox" id="kbar-listbox" style="height: 556px; width: 100%;">-->
          <!--                        <div id="kbar-listbox-item-0" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(0px);"><h2-->
          <!--                                class="px-3 pt-4 pb-2 text-xs font-semibold text-gray-500 dark:text-gray-200">Pages</h2></div>-->
          <!--                        <div id="kbar-listbox-item-1" role="option" aria-selected="true"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(40px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200 bg-gray-800 bg-opacity-5 text-gray-900 dark:bg-opacity-100 dark:text-white">-->
          <!--                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"-->
          <!--                                         aria-hidden="true"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-opacity-90 dark:text-white dark:text-opacity-100">-->
          <!--                                        <path stroke-linecap="round" stroke-linejoin="round"-->
          <!--                                              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Inicio</span><span class="inline-flex items-center space-x-1"><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">h</kbd></span>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                        <div id="kbar-listbox-item-2" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(82px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200">-->
          <!--                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"-->
          <!--                                         aria-hidden="true"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-gray-500">-->
          <!--                                        <path stroke-linecap="round" stroke-linejoin="round"-->
          <!--                                              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Blog</span><span class="inline-flex items-center space-x-1"><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">b</kbd></span>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                        <div id="kbar-listbox-item-3" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(124px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200">-->
          <!--                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"-->
          <!--                                         aria-hidden="true"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-gray-500">-->
          <!--                                        <path stroke-linecap="round" stroke-linejoin="round"-->
          <!--                                              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Contacto</span><span class="inline-flex items-center space-x-1"><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">c</kbd></span>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                        <div id="kbar-listbox-item-4" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(166px);"><h2-->
          <!--                                class="px-3 pt-4 pb-2 text-xs font-semibold text-gray-500 dark:text-gray-200">Utilidades</h2></div>-->
          <!--                        <div id="kbar-listbox-item-5" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(206px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200">-->
          <!--                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"-->
          <!--                                         aria-hidden="true"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-gray-500">-->
          <!--                                        <path stroke-linecap="round" stroke-linejoin="round"-->
          <!--                                              d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Cambiar tema...</span><span class="inline-flex items-center space-x-1"><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">t</kbd></span>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                        <div id="kbar-listbox-item-6" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(248px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200">-->
          <!--                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"-->
          <!--                                         aria-hidden="true"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-gray-500">-->
          <!--                                        <path stroke-linecap="round" stroke-linejoin="round"-->
          <!--                                              d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Cambiar idioma...</span><span-->
          <!--                                        class="inline-flex items-center space-x-1"><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">l</kbd></span>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                        <div id="kbar-listbox-item-7" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(290px);"><h2-->
          <!--                                class="px-3 pt-4 pb-2 text-xs font-semibold text-gray-500 dark:text-gray-200">Utilities</h2></div>-->
          <!--                        <div id="kbar-listbox-item-8" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(330px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200">-->
          <!--                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"-->
          <!--                                         aria-hidden="true"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-gray-500">-->
          <!--                                        <path stroke-linecap="round" stroke-linejoin="round"-->
          <!--                                              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Copiar la URL en el portapapeles</span><span-->
          <!--                                        class="inline-flex items-center space-x-1"><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">c</kbd><kbd-->
          <!--                                        class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900">c</kbd></span>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                        <div id="kbar-listbox-item-9" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(372px);"><h2-->
          <!--                                class="px-3 pt-4 pb-2 text-xs font-semibold text-gray-500 dark:text-gray-200">Social</h2></div>-->
          <!--                        <div id="kbar-listbox-item-10" role="option" aria-selected="false"-->
          <!--                             style="position: absolute; top: 0px; left: 0px; width: 100%; transform: translateY(412px);">-->
          <!--                            <div class="text-sm text-gray-700 dark:text-gray-400">-->
          <!--                                <div class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200">-->
          <!--                                    <svg fill="#1da1f2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"-->
          <!--                                         class="h-5 w-5 flex-none text-gray-900 text-opacity-40 transition duration-200 dark:text-gray-500 text-gray-500">-->
          <!--                                        <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>-->
          <!--                                    </svg>-->
          <!--                                    <span class="flex-auto truncate ml-3">Twitter</span></div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                    </div>-->
          <div
            role="listbox"
            *ngFor="let sec of section"
            style="height: 556px; width: 100%"
          >
            <div
              id="kbar-listbox-item-0"
              role="option"
              aria-selected="false"
              *ngIf="sec.action.length === 0"
            >
              <h2
                class="px-3 pt-4 pb-2 text-xs font-semibold text-gray-500 dark:text-gray-200"
              >
                {{ sec?.name }}
              </h2>
            </div>
            <div
              *ngFor="let action of sec.action"
              role="option"
              aria-selected="true"
              class="relative"
            >
              <a
                *ngIf="action?.typeAction === TYPE_ACTION.URL"
                class="absolute w-full h-full hover:bg-gray-800 hover:opacity-50 bg-opacity-5"
                [routerLink]="action?.url"
                fragment="{{ action?.fragment }}"
                (click)="closeDialog()"
              ></a>
              <div class="text-sm text-gray-700 dark:text-gray-400">
                <div
                  [class.bg-gray-800]="false"
                  class="flex cursor-default select-none items-center rounded-md px-3 py-2 text-sm transition duration-200 hover:bg-gray-800 bg-opacity-5 text-gray-900 dark:bg-opacity-100 dark:text-white"
                >
                  <span class="material-icons">{{ action?.icon }}</span>
                  <span class="flex-auto truncate ml-3">{{ action?.name }}</span
                  ><span class="inline-flex items-center space-x-1"
                    ><kbd
                      class="inline-flex min-h-[2.2em] min-w-[2.2em] items-center justify-center rounded-md border border-b-2 border-gray-300 bg-gray-50 px-2 text-xs uppercase dark:border-gray-700 dark:bg-gray-900"
                      >{{ action?.key }}</kbd
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="p-2" *ngIf="section.length === 0">
            <div class="py-14 px-6 text-center text-sm sm:px-14">
              <span
                class="h-auto w-[21px] filter-primary-color contrast-[0.2] material-icons ng-tns-c55-0"
                >warning</span
              >
              <p class="mt-4 font-semibold text-gray-900 dark:text-gray-200">
                No se encontraron resultados
              </p>
              <p class="mt-2 text-gray-500">
                No pudimos encontrar nada con ese término. Por favor, inténtalo
                de nuevo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--            <div class="flex flex-wrap items-center border-t border-gray-500 border-opacity-10 bg-gray-50 py-2.5 px-4 text-xs text-gray-700 transition-colors duration-200 dark:border-opacity-20 dark:bg-gray-800/50 dark:text-gray-200">-->
      <!--                Escribe <kbd-->
      <!--                    class="mx-1 flex h-5 w-5 items-center justify-center rounded border bg-white font-semibold dark:bg-gray-900 sm:mx-2 border-gray-400 text-gray-900 dark:text-white">#</kbd>-->
      <!--                para blogs y <kbd-->
      <!--                    class="mx-1 flex h-5 w-5 items-center justify-center rounded border bg-white font-semibold dark:bg-gray-900 sm:mx-2 border-gray-400 text-gray-900 dark:text-white">?</kbd>-->
      <!--                para ayuda.-->
      <!--            </div>-->
    </div>
  </div>
</div>
