<section id="home">
  <div class="w-screen h-screen center-content bg-layout p-4">
    <div class="w-full flex flex-col gap-3 mt-[4rem]">
      <header class="center-content">
        <h1 class="color-primary-color text-center text-3xl">David Trejo</h1>
      </header>
      <div class="center-content">
        <img
          class="h-[35vw] rounded-full md:h-[200px]"
          src="assets/images/nano-img-400.png"
          alt="Nano trejo image"
        />
      </div>
      <body class="center-content h-[30vh] flex flex-col">
        <div class="gradient"></div>
        <h2 class="text-header">Desarrollador web</h2>
        <h2 class="text-header">Entusiasta</h2>
        <h2 class="text-header">Profesional</h2>

        <!--            <img class="absolute w-full h-full object-cover	" src="assets/images/bg.svg" alt="background">-->
      </body>
      <footer class="center-content flex-col gap-9">
        <div>
          <h3 class="color-primary-color text-center font-semibold">
            Over the last 12 years, I've empowered 25+ companies
          </h3>
          <h3 class="color-secondary-color text-center">
            Creating stunning designs that make a real impact
          </h3>
        </div>
        <div
          class="flex flex-wrap justify-around gap-6 w-full auto-cols-max md:w-[75vw]"
        >
          <div
            @fadeInFast
            class="center-content gap-2 basis-1/5"
            *ngFor="let stack of stackData"
          >
            <img
              @fadeInFast
              class="w-[20px] h-[20px]"
              src="{{ stack?.img }}"
              alt="{{ stack?.name }}"
            />
            <label class="color-primary-color">{{ stack?.name }}</label>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>
<section id="proyectos">
  <div class="w-screen center-content bg-layout p-4">
    <body class="center-content flex flex-col">
      <div class="relative w-screen center-content h-[15vh]">
        <div class="gradient"></div>
        <h2 class="text-header">Proyectos</h2>
      </div>
      <app-project></app-project>
    </body>
  </div>
</section>
<section id="experiencia">
  <div class="w-screen center-content bg-layout p-4">
    <body class="center-content flex flex-col">
      <div class="relative w-screen center-content h-[15vh]">
        <div class="gradient"></div>
        <h2 class="text-header">{{ timeExperience }}+ años Exp.</h2>
      </div>
      <app-experience class="w-screen"></app-experience>
    </body>
  </div>
</section>
<!--<section id="contacto">-->
<!--  <div class="w-screen center-content bg-layout p-4">-->
<!--    <body class="center-content flex flex-col">-->
<!--      <div class="relative w-screen center-content h-[15vh]">-->
<!--        <div class="gradient"></div>-->
<!--        <h2 class="text-header">Contacto</h2>-->
<!--      </div>-->
<!--      <app-contact class="w-screen"></app-contact>-->
<!--    </body>-->
<!--  </div>-->
<!--</section>-->
