<div class="center-content w-screen flex-wrap mt-3 gap-4">
  <div
    @fadeInFast
    class="bg-color-fifteenth relative h-[350px] w-[335px] block rounded center-content p-3"
    *ngFor="let project of projectData"
  >
    <a
      [href]="
        project?.web
          ? project?.web
          : project?.github
          ? project?.github
          : project?.drive
      "
      target="_blank"
      class="w-[300px] h-[200px] rounded m-auto cursor-pointer hover:opacity-60"
    >
      <img
        class="w-[300px] h-[200px] rounded m-auto cursor-pointer hover:opacity-60"
        [src]="project?.img"
        [alt]="project?.name"
        onerror="this.style.visibility='hidden'"
        onload="this.style.visibility='visible'"
      />
    </a>
    <div class="flex-col center-content items-start w-[300px] m-auto mt-2">
      <h3 class="color-primary-color font-bold">{{ project?.name }}</h3>
      <h4 class="color-secondary-color">{{ project?.subtitle }}</h4>
    </div>
    <div class="center-content justify-start">
      <ul class="center-content gap-2 mt-2 flex-wrap justify-start">
        <li
          class="text-nowrap color-primary-color stack-item"
          *ngFor="let stack of project.stack"
        >
          {{ stack }}
        </li>
      </ul>
    </div>
    <div
      class="absolute center-content right-2 bottom-2 m-auto justify-end gap-4"
    >
      <a
        *ngIf="project?.drive"
        class="hover:opacity-60"
        [href]="project?.drive"
        target="_blank"
      >
        <img
          class="w-[25px] h-[25px]"
          src="assets/images/google-drive.svg"
          alt="Drive"
        />
      </a>
      <a
        *ngIf="project?.github"
        class="hover:opacity-60"
        [href]="project?.github"
        target="_blank"
      >
        <img
          class="w-[25px] h-[25px]"
          [class.invert]="isThemeDefault"
          src="assets/images/github.svg"
          alt="GitHub"
        />
      </a>
      <a
        *ngIf="project?.web"
        class="hover:opacity-60"
        [href]="project?.web"
        target="_blank"
      >
        <img
          class="w-[25px] h-[25px] filter-primary-color"
          [class.invert]="isThemeDefault"
          src="assets/images/web.svg"
          alt="Website"
        />
      </a>
    </div>
  </div>
</div>
