<div class="center-content w-full color-primary-color mt-[4rem]">
  <div class="w-3/4 max-w-[800px] flex flex-col gap-3">
    <p>
      Me llamo David Trejo pero artísticamente se me conoce como
      <strong>Nanotrejo</strong>. Empecé en la programación tras terminar mis
      estudios de TAFAD, sí, cambié drásticamente de rumbo. Actualmente, estoy
      <strong
        >liderando el desarrollo de varios proyectos de una empresa de
        Biotecnología</strong
      >.
    </p>

    <p>
      En mis tiempos libres
      <strong
        >me dedico a comer, hacer rutas, aprender nuevas tecnologías y tocar el
        piano</strong
      >. Empecé un
      <strong
        >blog de comida en el que voy apuntando los restaurantes que visito y
        puntúo los platos que pruebo</strong
      >, para luego poder recomendar sitios.
    </p>

    <p>
      También
      <strong
        >tengo un canal de YouTube donde voy subiendo vídeos a piano</strong
      >
      que se puede disfrutar en Spotify - Apple Music - YouTube Music.
    </p>
  </div>
</div>
