@import "./assets/themes/palette-default-colors.css";
@import "./assets/themes/palette-white-colors.css";
@import "./assets/css/component.css";
@import "material-icons/iconfont/material-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: system-ui, sans-serif;
}

* {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

html,
body {
  background-color: var(--color-tertiary);
  overflow-x: hidden;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}
