:root.default {
  --color-primary: #f5f5f5;
  --color-secondary: #ffffff4d;
  --color-tertiary: #121120;
  --color-quaternary: #373646;
  --color-quinary: #22212f;
  --color-senary: #3f3d641a;
  --color-septenary: #3f3d641a;
  --color-octonary: #9e9e9e;
  --color-nonary: #ffffff;
  --color-denary: #4728d3;
  --color-eleventh: #9a85dc;
  --color-twelfth: #663bc2;
  --color-thirteenth: #6d4bc1;
  --color-fourteenth: #616161;
  --color-fifteenth: rgba(130, 129, 146, 0.2);
  --color-sixteenth: rgba(255, 255, 255, 0.1);
  --color-seventeenth: rgba(0, 255, 176, 0.45);
  --color-eighteenth: rgba(255, 0, 0, 0.46);
  --color-nineteenth: #ff9c5466;
  --color-twentieth: rgb(78, 185, 231);

  --gradient-1: #ff9c5466;
  --gradient-2: #ffffff38;
  --gradient-3: #00000000;
  --gradient-4: #621abe;
  --gradient-5: #24214b00;

  /* infinite loop scroll */
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --scroll-start: 50%;
  --scroll-end: calc(-25% - var(--gap));
}
